body{
    margin: 0px;
    background-color: grey;
    font-family: 'Pattaya', sans-serif;
}

.ct{
    text-align: center;
}
.blue{
    background-color: #898500;
}
.page_nav{
    background-color: rgb(103, 112, 0);
    border: 1px solid black;
    color: white;
    text-align: center;
}
.log{
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
}

.page_nav h1{
    margin: 20px;
}

.page_nav a{
    float:right;
    padding: 0px;
    text-decoration: none;
    
}

.page_nav a#cerrarSesion{
    float: left;
    text-decoration: underline;
    padding: 10px;
    color: white;
    font-size: medium;
    font-family: Arial;
    margin-left: 30px;
    margin-top: 30px;
    font-size: small;

}

.page_nav a#cerrarSesion:hover{
    background-color: #ded35b;
    color: white;
}

.page_nav h2{
    float: left;
   /*  border: 1px solid white;
    border-radius: 10px; */
    padding: 10px;
    color: white;
    font-size: medium;
    font-family: Arial;
    margin-left: 30px;
    margin-top: 30px;
}

.page_nav a img{
    width: 45px;
    float:inline-end;
    padding: 5px;
}
.menu_container .menu{
    font-family: Arial, Helvetica;
    list-style: none;
    padding: 0px;
    background: #ded55b;
    width: 100%;
    max-width: 1000px;
    margin: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu_container{
    background: #ded85b;
    text-align: left;
}

.menu_container .menu li a{
    text-decoration: none;
    color: white;
    padding: 18px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li:hover{
    background: #000000;
}

.contenedor_principal{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor_producto{
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.contenedor_producto h1{
    margin-bottom: 10px;
    margin-left: 20px;
}

.contenedor_producto:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contenedor_principal img{
    width: 300px;
}


.button-add {
    transition-duration: 0.4s;
    border: none;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #d8c602; 
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: #d80202; 
    color: white;
}

.clearfix{
    clear:both;
}

.boton_inicio{
    font-family: Arial, Helvetica;
    background-color: transparent;
    color: white;
    font-size:medium;
    border: none;
}

footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
    background:grey;
    color: white;
}

table{
    width: 100%;
    background-color:white;
    text-align: left;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

th, td{
    padding:20px;
}

thead{
    background-color: #0275d8;
    /* border-bottom: solid 5px #0f362d; */
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #5bc0de;
    color: white; 
}