body {
    width: 100%;
    height: 80%;   
    margin: auto;
    font-family: 'Pattaya', sans-serif;
    background-color: aliceblue;
}

.page_nav{
    background-color: rgb(2, 117, 216);
    border: 1px solid black;
    color: white;
    text-align: center;
}

.ct{
    text-align: center;
}
.blue{
    background-color: #0275d8;
}
.page_nav h1{
    margin: 20px;
}

.page_nav a#cerrarSesion{
    float: left;
    text-decoration: underline;
    padding: 10px;
    color: white;
    font-size: medium;
    font-family: Arial;
    margin-left: 30px;
    margin-top: 30px;
    font-size: small;

}

.log{
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
}

.page_nav a#cerrarSesion:hover{
    background-color: #5bc0de;
    color: white;
}

.page_nav h2{
    float: left;
    padding: 10px;
    color: white;
    font-size: medium;
    font-family: Arial;
    margin-left: 30px;
    margin-top: 30px;
}

.menu_container .menu{
    font-family: Arial, Helvetica;
    list-style: none;
    padding: 0px;
    background: #5bc0de;
    width: 100%;
    max-width: 1000px;
    margin: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu_container{
    background: #5bc0de;
    text-align: left;
}

.menu_container .menu li a{
    text-decoration: none;
    color: white;
    padding: 18px;  
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li:hover{
    background: rgb(2, 117, 216);
}


#resumen{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid;
    width: 40%;
    margin: 2em 8em;
}

nav{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    width: 15%;
}

nav a{
    text-decoration: none;
    color: black;
}

footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
    background:#0275d8;
    color: white;
}

.boton_volver{
    border: none;
    background-color: transparent;
    font-family: 'Pattaya', sans-serif;
    font-size: large;
}

.container_volver{
    margin-top: 10px;
    text-align: center;
}

.contenido{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

.contenido button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

/* .contenido button:hover{
    background: orange;
} */
.dark button:hover{
    background: black;
    color: white;
}

.blu button:hover{
    background: #0275d8;
    color: white;
}

.greeen button:hover{
    background: #5cb85c;
    color: white;
}

.light button:hover{
    background: white;
    color: black;
}